Test 1: Number of users: 20, Spawn rate: 2
<img width="799" height="712" alt="Screen Shot 2026-04-17 at 23 27 16" src="https://github.com/user-attachments/assets/2e9c7239-2a06-4653-b251-6e2a05a52a36" />
<img width="585" height="684" alt="Screen Shot 2026-04-17 at 23 27 57" src="https://github.com/user-attachments/assets/c329dfcb-03ed-4c32-be1c-ce08acbda96f" />

Test 2: Number of users: 50, Spawn rate: 5
<img width="796" height="703" alt="Screen Shot 2026-04-17 at 23 29 13" src="https://github.com/user-attachments/assets/27dbdb0b-4e90-4b8f-85a5-c4552f650502" />
<img width="586" height="690" alt="Screen Shot 2026-04-17 at 23 29 53" src="https://github.com/user-attachments/assets/b46f1665-2bdc-4f5b-9ad1-3739c4bf0bfc" />

Test 3: Number of users: 100, Spawn rate: 10
<img width="801" height="703" alt="Screen Shot 2026-04-17 at 23 34 40" src="https://github.com/user-attachments/assets/da90976d-ebb2-4f53-a6bf-6a12a0a0e750" />
<img width="586" height="682" alt="Screen Shot 2026-04-17 at 23 35 07" src="https://github.com/user-attachments/assets/318dc6bd-b323-4fe1-8f38-3976d2a0ff81" />
