{% extends "layout.html" %}
{% block title %}Alerts | LANGUARD{% endblock %}

{% block content %}

<div class="alerts-container">

  <h2>All Alerts</h2>

  {% if alerts %}
  <table class="alerts-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Device</th>
        <th>Severity</th>
        <th>Status</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for alert in alerts %}
      <tr>
        <td>{{ alert.alert_id }}</td>
        <td>
          {% if alert.flow_alert.packets %}
            {{ alert.flow_alert.packets[0].src_device.device_name }}
          {% else %}
            N/A
          {% endif %}
        </td>
        <td class="severity {{ alert.severity|lower }}">
          {{ alert.severity }}
        </td>
        <td>{{ alert.status }}</td>
        <td>
          <a href="{{ url_for('user_bp.alert_detail', alert_id = alert.alert_id) }}" class="view-btn">
            Details
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No alerts found.</p>
  {% endif %}
</div>

{% endblock %}