{% extends "layout.html" %}
{% block title %}Alert Detail | LANGUARD{% endblock %}

{% block content %}

<div class="alert-detail">

  <h2>Alert Details</h2>

  <div class="detail-box">

    <div class="detail-item">
      <span class="label">Device:</span>
      <span>{{ alert.flow_alert.packets[0].src_device.device_name }}</span>
    </div>

    <div class="detail-item">
      <span class="label">Severity:</span>
      <span class="severity {{ alert.severity|lower }}">
        {{ alert.severity }}
      </span>
    </div>

    <div class="detail-item">
      <span class="label">Description:</span>
      <p>{{ alert.description }}</p>
    </div>

    <div class="detail-item">
      <span class="label">Status:</span>
      <span>{{ alert.status }}</span>
    </div>

    <button class="back-btn" onclick="window.history.back()"> Back

    {% if alert.status != "Resolved" %}
    <form method="post" action="{{ url_for('user_bp.resolve_alert', alert_id=alert.alert_id) }}">
      <button type="submit" class="resolve-btn">
        Mark Resolved
      </button>
    </form>
    {% endif %}

  </div>

</div>

{% endblock %}