{% extends "layout.html" %}
{% block title %}Profile | LANGUARD{% endblock %}
{% block content %}

<div class="profile">
  <h1>Profile</h1>  
  <div>
    <p class="title">ID</p>
    <p class="subtitle">{{user.user_id}}</p>
  </div>
  <div>
    <p class="title">Email/Username</p>
    <p class="subtitle">{{user.email}}</p>
  </div>
  <div>
    <p class="title">Name</p>
    <p class="subtitle">{{user.name}}</p>
  </div>
  <div>
    <p class="title">Role</p>
    <p class="subtitle">{{user.role}}</p>
  </div>
  <button class="back-btn" onclick="window.history.back()"> Back

 
</div>
{% endblock %}
